@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  
  /* Brand Colors */
  --color-primary: #facc15;
  --color-secondary: #15803d;
  --color-brand-dark: #14532d;
  --color-brand-light: #f0fdf4;
  --color-text-main: #3f3f46;

  /* Fonts */
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
